{% extends 'design.html'%}
{% load static %}
{% block content %}
  <!-- Dashboard is initially visible -->
<button class="toggle-dashboard">Hide Dashboard</button> <!-- Button now says "Hide" by default -->
  <div class="dashboard">
    <div class="dashboard-header">
      <h2>Dashboard</h2>
    </div>
    <div class="dashboard-content">
      <ul>
          {% if user.is_professor %}
        <li><a href="{% url 'class:professor_dashboard' %}">Courses</a></li>
        {% endif %}
       {% if user.is_student %}
        <li><a href="{% url 'class:home_view' %}">Courses</a></li>
        {% endif %}
        <li><a href="{% url 'class:announcement_view' obj.pk %}">Announcements</a></li>
        <li><a href="{% url 'class:activities_view' obj.pk %}">Assignments / Quizzes</a></li>
        <li><a href="{% url 'class:material_view' obj.pk %}">Modules</a></li>
        <li><a href="#">Submissions</a></li>
        <li><a href="{% url 'class:change_password' %}">Change Password</a></li>
      </ul>
      <nav class="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'class:logout' %}">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Inject content here for pages that extend this template -->
  <div class="main-content">
    {% block inner_content %}
    <!-- Default content can be added here if needed -->
    {% endblock inner_content %}
  </div>
 {% block scripts %}

  {% endblock scripts %}
  <script>
    const toggleButton = document.querySelector('.toggle-dashboard');
    const dashboard = document.querySelector('.dashboard');

    toggleButton.addEventListener('click', () => {
      dashboard.classList.toggle('hide');

      // Update the button text depending on the dashboard state
      if (dashboard.classList.contains('hide')) {
        toggleButton.textContent = 'Show Dashboard';
      } else {
        toggleButton.textContent = 'Hide Dashboard';
      }
    });
  </script>
{% endblock %}